p.centro {
            text-align: center; /* Alinha o texto ao centro*/ 
            color: red; /* Cor de texto vermelha*/ 

         }

   
p.largo {
            font-size: 300%; /* 300% do tamanho original*/ 

         }