/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid blue;
}

thead th:nth-child(1) {
  text-shadow:
  width: 30%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

th{
  padding: 25px;
}

td {
  padding: 15px;
}




/* typography */

html {
  font-family: sans-serif;
}

thead th, tfoot th {
  font-family: 'Rubik', sans-serif;
  font-size:27px;
}

th {
  letter-spacing: 0.4px;
}

td {
  letter-spacing: 0.2px;
  text-align: center;
  font-size:22px;
  color: white;
  text-shadow: 1.5px 1.5px 1.5px black;
  font-family: 'Rubik', sans-serif;
}

  

tfoot th {
  text-align: center;
}

.texto{
  letter-spacing: 0.2px;
  text-align: center;
  font-size:25px;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* graphics and colors */

thead{
  background: url("../imagens/portugal.jpeg");
  color: white;
  text-shadow: 1px 1px 1px black;
}

/*tfoot {*/

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid blue;
}


/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}




.lisboa{
  background-image: url("../imagens/lisboa.jpg");
}

.sintra{
  background-image: url("../imagens/sintra.jpg");
}

.gaia{
  background-image: url("../imagens/vila.png");
}

.porto{
  background-image: url("../imagens/porto.jpg");
}

.cascais{
  background-image: url("../imagens/cascais.jpg");
}

.loures{
  background-image: url("../imagens/loures.jpg");
}

.braga{
  background-image: url("../imagens/braga.jpg");
}

.yes{text-align:10px;	
}



table {
  background-color: #4275c7;
}

/* caption */

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: black;
  text-align: right;
  letter-spacing: 1px;
}